.Results h2 {
  font-size: 45px;
  font-weight: bold;
}
.Results h2::first-letter {
  text-transform: capitalize;
}

.Results h3 {
  font-family: "Archivo Black", sans-serif;
  font-size: 30px;
}

.Results .meaning {
  font-size: 25px;
  text-align: left;
}
